*,
:after,
:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: Montserrat, sans-serif;
  line-height: 1;
  position: relative;
}
.wrapper {
  margin: 0 auto;
  max-width: 114rem;
}
.subheading {
  color: #d03a20;
  font-size: 2rem;
  font-weight: 700;
}
.heading-secondary {
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: -0.2px;
  margin-top: 1.6rem;
}
.about-section {
  padding: 10rem 0;
}
.about-section .about-title {
  font-size: 4.4rem;
  text-align: center;
}
.about-section .about-container {
  margin-top: 5rem;
  padding: 3rem;
}
.about-section .about-container .about-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.contact-section {
  padding-top: 15rem;
}
.contact-section .localization {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contact-section .localization .localization-note h2 {
  font-size: 4.4rem;
  text-align: center;
}
.contact-section .localization .localization-note .contact {
  padding-top: 3rem;
}
.contact-section .localization .localization-note .contact .info-availability {
  padding-bottom: 4rem;
}
.contact-section .localization .localization-note .contact .info {
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
}
.contact-section .localization .localization-note .contact .note {
  font-size: 1.6rem;
}
.contact-section .localization .map .map-frame {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 100%;
}
form {
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  max-width: 80rem;
  padding: 4rem;
}
label {
  color: #333;
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
input[type='mail'],
textarea {
  background-color: #e6e6e6;
  border: none;
  border-radius: 0.8rem;
  color: #333;
  font-size: 1.8rem;
  margin-bottom: 3rem;
  padding: 2rem;
  width: 100%;
}
textarea {
  height: 18rem;
  resize: vertical;
}
input[type='submit'] {
  background-color: #3282dd;
  border: none;
  border-radius: 0.8rem;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  padding: 2rem 4rem;
  transition: background-color 0.3s ease;
}
input[type='submit']:hover {
  background-color: #205694;
}
footer {
  background-color: #fff5f4;
  color: #333;
  padding: 5rem 0;
}
footer h5 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
footer p {
  color: #333;
  font-size: 1.6rem;
  line-height: 1.5;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer ul li {
  margin-bottom: 1rem;
}
footer ul li a {
  color: #333;
  text-decoration: none;
}
footer ul.social-links li {
  display: inline-block;
  margin-right: 1rem;
}
footer ul.social-links li:last-child {
  margin-right: 0;
}
footer ul.social-links li a {
  color: #333;
  font-size: 2.4rem;
  transition: all 0.3s ease;
}
footer ul.social-links li a:hover {
  transform: translateY(-0.3rem);
}
.links {
  font-size: 1.6rem;
  line-height: 1.6;
}
footer-logo {
  margin-bottom: 2rem;
  width: 3rem;
}
.grid {
  display: grid;
  gap: 9.6rem;
}
.grid,
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
nav {
  font-size: 1.8rem;
  text-transform: uppercase;
  transition: background-color 0.6s;
  z-index: 1;
}
nav .website-logo {
  height: auto;
  margin-top: 1rem;
  width: 24rem;
}
nav .navbar-nav .nav-link.active {
  color: tomato;
}
nav .nav-link {
  color: #fff;
  margin: 1rem;
}
nav .nav-link:hover {
  color: tomato;
}
nav .burger-menu {
  color: #fff;
  font-size: 3rem;
  outline: none;
  padding: 1rem;
  text-decoration: none;
}
header {
  color: #fff;
}
header h1 {
  font-size: 3rem;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}
header p {
  font-size: 2.2rem;
  margin-top: 0.5rem;
}
header span {
  color: tomato;
}
header .hero-img {
  background-attachment: fixed;
  background-image: url(../resources/img/front.jpg);
  background-position: 50%;
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: 0;
}
header .hero-shadow {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -10;
}
header .hero-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  z-index: 5;
}
header button a {
  color: tomato;
  text-decoration: none;
}
header .btn:hover {
  color: tomato;
}
header .btn {
  font-size: 2rem;
  margin-top: 2.8rem;
  padding: 0.8rem;
  text-transform: uppercase;
}
header .fa-chevron-down {
  bottom: 2rem;
  color: #fff;
  font-size: 4.8rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
.menu-section {
  padding-bottom: 10rem;
  padding-top: 10rem;
}
.menu-container .fish-title {
  color: #444;
  font-weight: 600;
}
.menu-container .menu-title {
  color: #3282dd;
  font-size: 4rem;
  font-weight: 700;
  padding: 4rem 0 0;
}
.menu-container .menu-list {
  font-size: 2rem;
  letter-spacing: -0.6px;
  list-style: none;
  margin-top: 1rem;
  padding: 0;
}
.menu-container .menu-list .prices {
  color: #444;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  justify-content: space-between;
  padding-top: 1.4rem;
}
.menu-container .menu-list .prices .special-price {
  color: #1f7f32;
}
.menu-container .menu-list .prices p {
  font-weight: 700;
}
.menu-container .meal-with-info {
  margin-top: 1.6rem;
}
.menu-container .meal-with-info .stack span {
  color: #575757;
  font-size: 1.4rem;
  font-style: italic;
}
.menu-container .soups .soup-price {
  color: #444;
  font-size: 1.8rem;
  font-weight: 600;
}
.menu-container .soups span {
  color: #575757;
  font-size: 1.6rem;
}
.menu-container .icon {
  height: 3.4rem;
  margin-bottom: 0.5rem;
  width: 3.4rem;
}
@media (min-width: 300px) and (max-width: 399px) {
  .testimonials-section .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  .menu-container {
    padding: 0 1rem;
  }
  .menu-container .br {
    display: block;
  }
  .menu-container .fish-title {
    font-size: 1.4rem;
  }
  .menu-container .menu-title {
    font-size: 2.4rem;
  }
  .menu-container .menu-list {
    font-size: 1.4rem;
    line-height: 1.4;
  }
  .menu-container .menu-list .fish-title,
  .menu-container .menu-list .prices,
  .menu-container .menu-list .soup-price {
    font-size: 1.4rem;
  }
  .menu-container .meal-with-info .stack span {
    color: #898989;
    font-size: 1.2rem;
    font-style: italic;
  }
  .localization {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .localization .localization-note h2 {
    font-size: 4.4rem;
    text-align: center;
  }
  .localization .localization-note .contact {
    padding-top: 3rem;
  }
  .localization .localization-note .contact .info-availability {
    padding-bottom: 4rem;
  }
  .localization .localization-note .contact .info {
    padding: 0 1rem 1.5rem;
    text-align: left;
    text-transform: uppercase;
  }
  .localization .localization-note .contact .note {
    font-size: 1.6rem;
    padding-left: 1rem;
    padding-top: 1rem;
  }
  .about-section .about-container .about-description {
    font-size: 1.8em;
    line-height: 1.8;
    padding: 1.2rem;
  }
}
@media (min-width: 400px) and (max-width: 486px) {
  .br {
    display: block;
  }
  .menu-container {
    padding: 0 1rem;
  }
  .menu-container .br {
    display: block;
  }
  .menu-container .fish-title {
    font-size: 1.4rem;
  }
  .menu-container .menu-title {
    font-size: 3.2rem;
  }
  .menu-container .menu-list {
    font-size: 1.7rem;
    line-height: 1.8;
    list-style: none;
    margin-top: 1rem;
  }
  .menu-container .menu-list .fish-title,
  .menu-container .menu-list .prices,
  .menu-container .menu-list .soup-price {
    font-size: 1.6rem;
  }
  .menu-container .menu-list .meal-with-info {
    margin-top: 1.6rem;
  }
  .menu-container .menu-list .meal-with-info span {
    color: #898989;
    font-size: 1.2rem;
  }
  .menu-container .menu-list .meal-with-info .stack {
    letter-spacing: -0.5px;
    line-height: 0.9;
  }
  .about-section .about-container .about-description {
    font-size: 1.8em;
    line-height: 1.8;
    padding: 1.2rem;
  }
  .testimonials-section .gallery {
    gap: 1.2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 487px) and (max-width: 676px) {
  .br {
    display: block;
  }
  .menu-container {
    padding: 0 1rem;
  }
  .menu-container .br {
    display: block;
  }
  .menu-container .menu-title {
    font-size: 3.2rem;
  }
  .menu-container .menu-list {
    font-size: 1.7rem;
    line-height: 1.8;
    list-style: none;
    margin-top: 1rem;
  }
  .menu-container .menu-list .meal-with-info {
    margin-top: 1.6rem;
  }
  .menu-container .menu-list .meal-with-info span {
    color: #898989;
    font-size: 1.2rem;
  }
  .menu-container .menu-list .meal-with-info .stack {
    letter-spacing: -0.5px;
    line-height: 0.9;
  }
  .about-section .about-container .about-description {
    font-size: 1.8em;
    line-height: 1.8;
    padding: 1.2rem;
  }
}
@media (max-width: 677px) {
  .br {
    display: block;
  }
  .menu-container {
    padding: 0 1rem;
  }
  .menu-container .br {
    display: block;
  }
  .menu-container .menu-list {
    font-size: 2.2rem;
    line-height: 1.6;
    list-style: none;
    margin-top: 1rem;
  }
  .menu-container .menu-list .meal-with-info {
    margin-top: 1.6rem;
  }
  .menu-container .menu-list .meal-with-info span {
    color: #898989;
    font-size: 1.2rem;
  }
  .menu-container .menu-list .meal-with-info .stack {
    letter-spacing: -0.5px;
    line-height: 0.9;
  }
  .testimonials-section .testimonials {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767px) {
  footer {
    text-align: center;
  }
  footer h5,
  footer ul {
    margin-top: 3rem;
  }
  footer ul.social-links li {
    display: block;
    margin-bottom: 1rem;
    margin-right: 0;
  }
}
@media (max-width: 944px) {
  .testimonials-section {
    grid-template-columns: 1fr;
  }
  .testimonials-section .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}
.br {
  display: none;
}
.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}
.social-icons {
  left: 0;
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
}
.social-icons .iconn {
  display: block;
  margin-bottom: 10px;
}
.testimonials-section {
  align-items: center;
  background-color: #fff5f4;
  display: grid;
  grid-template-columns: 55fr 45fr;
}
.testimonials-section figure {
  margin: 0;
}
.testimonials-section .testimonials-container {
  padding: 9.6rem;
}
.testimonials-section .testimonials {
  -moz-column-gap: 8rem;
  column-gap: 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
}
.testimonials-section .testimonial-review {
  margin-bottom: 1.2rem;
  width: 16rem;
}
.testimonials-section .testimonial-text {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 1.4rem;
}
.testimonials-section .testimonial-name {
  color: #717171;
  font-size: 1.6rem;
}
.testimonials-section .gallery {
  display: grid;
  gap: 1.6rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 1.6rem;
}
.testimonials-section .gallery-item img {
  display: inline;
  height: auto;
  transition: all 0.4s;
  width: 100%;
}
.testimonials-section .gallery-item {
  overflow: hidden;
}
.testimonials-section .gallery-item img:hover {
  transform: scale(1.1);
}
