@use 'base';

.about-section {
  padding: 10rem 0;
}
.about-section .about-title {
  font-size: 4.4rem;
  text-align: center;
}
.about-section .about-container {
  padding: 3rem;
  margin-top: 5rem;
}
.about-section .about-container .about-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
