*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
}
.wrapper {
  max-width: 114rem;
  margin: 0 auto;
}
.subheading {
  font-size: 2rem;
  font-weight: 700;
  color: #d03a20;
}
.heading-secondary {
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: -0.2px;
  margin-top: 1.6rem;
}
