@use 'base';


.menu-section {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.menu-container .fish-title {
  color: #444;
  font-weight: 600;
}
.menu-container .menu-title {
  font-size: 4rem;
  font-weight: 700;
  color: #3282dd;
  padding: 4rem 0 0 0;
}
.menu-container .menu-list {
  margin-top: 1rem;
  font-size: 2rem;
  letter-spacing: -0.6px;
  list-style: none;
  padding: 0;
}
.menu-container .menu-list .prices {
  font-size: 1.8rem;
  color: #444;
  font-weight: 600;
  padding-top: 1.4rem;
  display: flex;
  justify-content: space-between;
}
.menu-container .menu-list .prices .special-price {
  color: #1f7f32;
}
.menu-container .menu-list .prices p {
  font-weight: 700;
}
.menu-container .meal-with-info {
  margin-top: 1.6rem;
}
.menu-container .meal-with-info .stack span {
  font-style: italic;
  font-size: 1.4rem;
  color: #575757;
}
.menu-container .soups .soup-price {
  font-size: 1.8rem;
  color: #444;
  font-weight: 600;
}
.menu-container .soups span {
  font-size: 1.6rem;
  color: #575757;
}
.menu-container .icon {
  width: 3.4rem;
  height: 3.4rem;
  margin-bottom: 0.5rem;
}
