@use 'base';
@use 'grid';

@media (min-width: 300px) and (max-width: 399px) {
  .testimonials-section .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  .menu-container {
    padding: 0 1rem 0 1rem;
  }
  .menu-container .br {
    display: block;
  }
  .menu-container .fish-title {
    font-size: 1.4rem;
  }
  .menu-container .menu-title {
    font-size: 2.4rem;
  }
  .menu-container .menu-list {
    font-size: 1.4rem;
    line-height: 1.4;
  }
  .menu-container .menu-list .prices,
  .menu-container .menu-list .fish-title,
  .menu-container .menu-list .soup-price {
    font-size: 1.4rem;
  }
  .menu-container .meal-with-info .stack span {
    font-style: italic;
    font-size: 1.2rem;
    color: #898989;
  }
  .localization {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  .localization .localization-note h2 {
    font-size: 4.4rem;
    text-align: center;
  }
  .localization .localization-note .contact {
    padding-top: 3rem;
  }
  .localization .localization-note .contact .info-availability {
    padding-bottom: 4rem;
  }
  .localization .localization-note .contact .info {
    text-align: left;
    text-transform: uppercase;
    padding: 0 1rem 1.5rem 1rem;
  }
  .localization .localization-note .contact .note {
    font-size: 1.6rem;
    padding-left: 1rem;
    padding-top: 1rem;
  }
  .about-section .about-container .about-description {
    font-size: 1.8em;
    line-height: 1.8;
    padding: 1.2rem;
  }
}
@media (min-width: 400px) and (max-width: 486px) {
  .br {
    display: block;
  }
  .menu-container {
    padding: 0 1rem 0 1rem;
  }
  .menu-container .br {
    display: block;
  }
  .menu-container .fish-title {
    font-size: 1.4rem;
  }
  .menu-container .menu-title {
    font-size: 3.2rem;
  }
  .menu-container .menu-list {
    margin-top: 1rem;
    font-size: 1.7rem;
    line-height: 1.8;
    list-style: none;
  }
  .menu-container .menu-list .prices,
  .menu-container .menu-list .fish-title,
  .menu-container .menu-list .soup-price {
    font-size: 1.6rem;
  }
  .menu-container .menu-list .meal-with-info {
    margin-top: 1.6rem;
  }
  .menu-container .menu-list .meal-with-info span {
    font-size: 1.2rem;
    color: #898989;
  }
  .menu-container .menu-list .meal-with-info .stack {
    line-height: 0.9;
    letter-spacing: -0.5px;
  }
  .about-section .about-container .about-description {
    font-size: 1.8em;
    line-height: 1.8;
    padding: 1.2rem;
  }
  .testimonials-section .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
  }
}
@media (min-width: 487px) and (max-width: 676px) {
  .br {
    display: block;
  }
  .menu-container {
    padding: 0 1rem 0 1rem;
  }
  .menu-container .br {
    display: block;
  }
  .menu-container .menu-title {
    font-size: 3.2rem;
  }
  .menu-container .menu-list {
    margin-top: 1rem;
    font-size: 1.7rem;
    line-height: 1.8;
    list-style: none;
  }
  .menu-container .menu-list .meal-with-info {
    margin-top: 1.6rem;
  }
  .menu-container .menu-list .meal-with-info span {
    font-size: 1.2rem;
    color: #898989;
  }
  .menu-container .menu-list .meal-with-info .stack {
    line-height: 0.9;
    letter-spacing: -0.5px;
  }
  .about-section .about-container .about-description {
    font-size: 1.8em;
    line-height: 1.8;
    padding: 1.2rem;
  }
}
@media (max-width: 677px) {
  .br {
    display: block;
  }
  .menu-container {
    padding: 0 1rem 0 1rem;
  }
  .menu-container .br {
    display: block;
  }
  .menu-container .menu-list {
    margin-top: 1rem;
    font-size: 2.2rem;
    line-height: 1.6;
    list-style: none;
  }
  .menu-container .menu-list .meal-with-info {
    margin-top: 1.6rem;
  }
  .menu-container .menu-list .meal-with-info span {
    font-size: 1.2rem;
    color: #898989;
  }
  .menu-container .menu-list .meal-with-info .stack {
    line-height: 0.9;
    letter-spacing: -0.5px;
  }
  .testimonials-section .testimonials {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767px) {
  footer {
    text-align: center;
  }
  footer h5 {
    margin-top: 3rem;
  }
  footer ul {
    margin-top: 3rem;
  }
  footer ul.social-links li {
    display: block;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
@media (max-width: 944px) {
  .testimonials-section {
    grid-template-columns: 1fr;
  }
  .testimonials-section .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}
.br {
  display: none;
}
.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}
.social-icons {
  position: absolute;
  top: 80%;
  left: 0;
  transform: translateY(-50%);
}
.social-icons .iconn {
  display: block;
  margin-bottom: 10px;
}
